.hero {
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/baner/mobile-header.jpg');
  background-size: cover;
  padding: 118px 0;
  margin: 0 auto;

  &__conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-device-pixel-ratio: 2) and (max-width: 767px),
  (min-resolution: 192dpi) and (max-width: 767px),
  (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/baner/mobile-header@2x.jpg');
  }
}

@media screen and (min-width: 768) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/baner/tablet-header.jpg');
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/baner/tablet-header@2x.jpg');
  }
}

@media screen and (min-width: 1200) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/baner/laptop-header.jpg');
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px),
  (min-resolution: 192dpi) and (min-width: 1200px),
  (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/baner/laptop-header@2x.jpg');
  }
}
// .hero {
//   max-width: 1600px;
//   background-color: #c4c4c4;
//   background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//     url('../images/baner-main.jpg');

//   background-size: cover;
//   padding: 200px 0;
//   margin: 0 auto;
// }

// .hero__conteiner {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .hero__title {
//   font-style: normal;
//   font-weight: 900;
//   font-size: 44px;
//   line-height: 1.36;
//   text-align: center;
//   letter-spacing: 0.06em;
//   text-transform: uppercase;
//   margin-bottom: 30px;
//   color: var(--background-color);
// }

// .hero__button {
//   color: var(--background-color);
//   background: var(--akcent-color);
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   border-radius: 4px;
//   padding: 10px 32px;
//   font-family: var(--font-roboto);
//   font-style: normal;
//   font-weight: bold;
//   font-size: 16px;
//   line-height: 1.87;
//   display: flex;
//   align-items: center;
//   text-align: center;
//   letter-spacing: 0.06em;

//   transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     background: #188ce8;
//     cursor: pointer;
//   }
// }
