.logo {
  font-family: var(--font-raleway);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  align-items: center;

  &__akcent {
    color: var(--akcent-color);
  }
}
